<%= render 'layouts/navbar' %>
<header id="pandora">
  <div class="header-content">
    <div class="header-content-inner text-center">

      <%= render 'layouts/loading' %>

      <h1>Hello, <%= current_user.uid %>!</h1>
      <hr>
      <h1 style="font-size: 50px;">Enter a Pandora Email</h1>
      <br>
      <br>
      <br>
      <%= render 'layouts/pandora_form' %>
    </div>
  </div>
</header>
