<header id="pandora">
  <div class="header-content">
    <div class="header-content-inner text-center">
      <h1 style="font-size: 50px;">Enter a Pandora Email</h1>
      <br>
      <p style="color: white">Make sure the Pandora account is made public before entering the email.</p>
      <form>
        <div class="form-group">
          <label for="input_email">Email address</label>
          <input type="email" class="form-control" placeholder="pandora@email.com">
        </div>
      </form>
    </div>
  </div>
</header>
