<header>
  <div class="header-content">
    <div class="header-content-inner text-center">
      <h1 style="font-size: 80px;">Spotifize</h1>
      <br>
      <p style="color: white">Convert Pandora likes into a Spotify playlist.</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color: #005483;">Find Out More</a>
      <hr>
      <%= link_to "Login to Spotify", login_path, { style: "background-color: #81b71a", class: "btn btn-primary btn-xl" } %>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How It Works</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-spotify"></i>
          <h3>Sign in with Spotify</h3>
          <p class="text-muted">Login with your Spotify account to get started.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-envelope"></i>
          <h3>Enter a Pandora Email</h3>
          <p class="text-muted">Spotifize will gather all of the "liked" music on your Pandora account.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-music"></i>
          <h3>Create a Playlist</h3>
          <p class="text-muted">Watch as we convert your favorite Pandora songs into a Spotify playlist!</p>
        </div>
      </div>
    </div>
  </div>
</section>
