<%= render 'layouts/navbar' %>
<header id="spotify">
  <div class="header-content">
    <div class="header-content-inner text-center">
      <h1 style="font-size: 60px;">Your Playlist is being created!</h1>
      <br>
      <h2>Thanks for using Spotifize!</h2>
      <br>
      <%= link_to "Back to Home", root_path, { class: "btn btn-primary btn-xl" } %>
      <hr>
      <%= link_to "Log Out", logout_path, { method: :delete, class: "btn btn-primary btn-xl" } %>
    </div>
  </div>
</header>
