<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Spotifize</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand"><%= link_to "Logout", logout_path, method: :delete %></a>
        </li>
      </ul>
  </div>
</nav>
